.nge-area {
  box-sizing: border-box;
  position: relative;
  outline: none;

  &.loading {
    &::before {
      transition: all 0.15s ease-in-out;
      content: " ";
      vertical-align: middle;
      display: inline-block;
      height: 2em;
      width: 2em;
      translate: -50% -50%;
      border-radius: 100%;
      border: 2px solid oklch(var(--nge-color-oklch));
      border-bottom-color: transparent;
      animation: nge-loader-spin 1s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
    }

    > div {
      opacity: 0;
    }
  }

  > .nge-area-content {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &.is-top {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: visible;
  }

  &.editable {
    &[draggable]:not(.dragging) {
      > .nge-area-content {
        box-shadow: var(--nge-shadow);
      }
    }

    &.dragging {
      > .nge-area-content + .nge-area-content {
        display: none !important;
      }
    }

    &.is-empty {
      > .nge-area-content {
        background-color: oklch(var(--nge-background-color-oklch));
        outline-style: solid;
        box-shadow: var(--nge-inline-shadow);
        align-items: center;
        justify-content: center;
      }
    }

    > .nge-area-content {
      border-radius: var(--nge-border-radius);
      outline: var(--nge-border-width) dashed
        oklch(var(--nge-border-color-oklch));
      background-color: oklch(var(--nge-background-color-oklch));
      transition: outline-color 0.2s linear, background-color 0.2s linear,
        box-shadow 0.2s linear;
      display: flex;
      flex-direction: column;

      > .hint {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        font-weight: var(--nge-font-weight-bold);
        color: oklch(var(--nge-color-oklch));
        padding: 0 1rem;
        display: flex;
        width: auto;
        align-items: center;
        gap: 1rem;

        > span:not(.icon) {
          font-size: inherit;
          text-transform: inherit;
        }
      }
    }
    &.active,
    &.resizing {
      > .nge-area-content {
        outline: var(--nge-border-width) solid
          oklch(var(--nge-color-neutral-oklch)) !important;
        > .hint {
          visibility: hidden;
        }
      }
    }

    &.dropping {
      > .nge-area-content {
        background-color: oklch(var(--nge-color-neutral-oklch)) !important;

        > * {
          opacity: 0.5;
        }
      }
    }
  }
}

@media (hover: hover) {
  .nge-section-content:not(.resizing) .nge-area {
    &.editable {
      &:hover {
        > .nge-area-content {
          outline: 2px solid oklch(var(--nge-color-neutral-oklch)) !important;
        }
      }
    }
  }
}

/* //When row only contains auto items, make them relative */
.nge-section-content.is-auto-height {
  padding-top: 0 !important;

  .nge-area {
    &.is-top {
      position: relative;
    }
  }
}

@media (hover: hover) {
  .nge-area.editable.is-empty > .nge-area-content:hover {
    outline-color: oklch(var(--nge-color-neutral-oklch));
  }
}
