.nge-popup.code {
  > div > .nge-popup-container {
    .input-label {
      display: none;
    }

    .input-control {
      font-family: "Courier New", Courier, monospace;
    }
  }
}

.nge-area-controls {
  width: 0;
  height: 0;
  font: var(--nge-font-base);
  [disabled] {
    display: none;
  }

  > *:not(.nge-tools) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  > .nge-tool {
    background-color: oklch(var(--nge-background-color-oklch) / 75%);
    box-shadow: var(--nge-inline-shadow);
    backdrop-filter: blur(4px);
    color: oklch(var(--nge-color-oklch));

    &.nge-tool-remove {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 5;
      padding: 0.6rem;
      border-radius: 100%;
      border: none;

      .icon + span {
        display: none;
      }
    }
  }
  .nge-area-tool-picker {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 6;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    gap: 0.5rem;

    > li {
      &:not(.more) {
        .icon {
          display: none;
        }
      }
      &.media {
        display: none;
      }
    }
  }
}

.nge-area.typing > .nge-area-controls {
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media (hover: hover) {
  .nge-section-content:not(.resizing) .nge-area:hover {
    .nge-area-controls > *:not(.nge-area-tool-picker) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nge-area {
  &.active,
  &.resizing {
    .nge-area-controls {
      > * {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.nge-area.resizing {
  .nge-area-controls {
    > .nge-area-tool-picker {
      visibility: hidden;
      opacity: 0;
    }
  }
}
