.nge-section {
  &.active {
    .nge-section-controls {
      visibility: visible;
      opacity: 1;
      height: auto;
    }
  }
}
@media (hover: hover) {
  .nge-section:hover {
    .nge-section-controls {
      visibility: visible;
      opacity: 1;
      height: auto;
    }
  }
}

.nge-section:first-of-type {
  .nge-section-controls > .nge-section-tool-mover.up {
    display: none;
  }
}
.nge-section:last-of-type {
  .nge-section-controls > .nge-section-tool-mover.down {
    display: none;
  }
}

.nge-content div.nge-section.active > .nge-section-controls {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

.nge-section-controls {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-left: 0.6rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: 100%;

  > .nge-tool {
    background-color: transparent;
    border-width: 0;
    background: none;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    color: oklch(var(--nge-color-oklch));
    padding: 0;

    &:hover,
    &:focus {
      color: oklch(var(--nge-color-oklch));
    }

    > .icon + span {
      display: none;
    }
  }
  > .nge-dropdown {
    > .dropdown-container {
      .nge-section-tool-picker {
        padding: 1rem 1rem 0.5rem;
        width: 25rem;
      }

      > .nge-tool {
        padding: 1rem;
        background: none;
        color: oklch(var(--nge-color-oklch));
        font: var(--nge-font-base);
        text-transform: none;
        border-width: 0;

        &.remove {
          color: oklch(var(--nge-color-bad-oklch));
        }
      }
    }
  }
}
