.nge-section {
  display: flex;
  flex-direction: row;
  > .nge-section-content {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;

    &.is-auto-height {
      display: flex;
      padding-top: 0 !important;

      > .nge-area {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        top: auto !important;
        left: auto !important;
        align-items: stretch;
        height: auto !important;
      }

      .nge-area-resizer {
        &.resizebottom,
        &.resizebottomleft,
        &.resizebottomright {
          display: none !important;
        }
      }
    }
  }

  &.editable {
    > .nge-section-content {
      min-width: 1rem;
      min-height: 1rem;
    }
  }
}
