.input {
  box-sizing: border-box;
  color: inherit;
  transition: border var(--grideditor-transition-style),
    box-shadow var(--grideditor-transition-style),
    background-color var(--grideditor-transition-style);
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-radius: var(--grideditor-border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  min-width: 0;
  border: var(--grideditor-border-width) solid
    oklch(var(--grideditor-border-color-oklch));
  box-shadow: var(--grideditor-shadow);
  background-color: oklch(var(--grideditor-background-color-oklch));
  font-size: 1rem;
  gap: 0.5rem;
  outline: none;

  &:not(.has-control) {
    padding: 0.85rem 1rem;
    line-height: 1.35rem;
    min-height: 1.35rem;
  }
  &.has-control > .input-control {
    padding: 0.85rem 1rem;
    line-height: 1.35rem;
    min-height: 1.35rem;
    outline: none;
  }

  &:focus,
  &.focus,
  &:active,
  &.active {
    border-color: oklch(var(--grideditor-color-theme-oklch));
  }

  @media (pointer: fine) {
    &:hover {
      border-color: oklch(var(--grideditor-color-theme-oklch));
    }
  }

  /*Disbled and readonly */
  &.disabled,
  &[disabled],
  &.readonly,
  &[readonly] {
    opacity: 0.25;
  }

  &:invalid {
    box-shadow: inherit; /* Reset */
  }

  &.error {
    background-color: oklch(var(--grideditor-color-bad-oklch));
  }

  &.hidden {
    display: none;
  }

  &:not(.texted):not(.type-select) {
    text-overflow: ellipsis;
    text-align: center;
  }

  > .input-control {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    gap: 0.5em;
    flex-grow: 1;
    min-width: min-content;
    line-height: 1.35rem;
    box-sizing: border-box;
    border: none;
    background: none;
  }

  &.texted {
    > .input-control {
      appearance: none;
      resize: none;
      overflow: auto;
    }

    &::placeholder {
      font: inherit;
      color: inherit;
      opacity: 0.75;
    }
  }

  &:not(.texted) {
    > .input-control {
      white-space: nowrap;
    }
  }

  &.has-icon {
    > .input-label {
      margin-right: 1.5em;
    }
    > .input-control {
      padding-right: 3em;
    }
  }

  > .input-icon {
    position: absolute;
    z-index: 1;
    right: 0.85rem;
    top: 50%;
    transform: translateY(-50%);
  }

  > .loader {
    position: absolute;
    z-index: 1;
    right: 0.85rem;
    top: 50%;
    translate: 0 -50%;
    /* // transform: translateY(-50%); */
  }

  > .input-label {
    z-index: 3;
    position: absolute;
    display: block;
    left: 0.85rem;
    top: 50%;
    translate: 0 -50%;
    transition: top var(--transition-style);

    &.focus,
    &:not(.empty),
    &:placeholder-shown,
    &.placeholder {
      top: 0;
      font-size: 0.75rem;
      font-weight: var(--main-text-weight);
      text-transform: uppercase;
      padding-right: 0;
    }

    &.empty {
      opacity: 0.5;
      font-style: italic;
    }

    &.error {
      opacity: 1;
    }
  }

  > .input-toolbar {
    position: absolute;
    top: calc(0px - 0.85rem);
    right: 0.85rem;
    z-index: 2;
    display: grid;
    grid-column-gap: 0.65rem;
    grid-row-gap: 0.65rem;

    ~ .input-control {
      min-width: 250px;
      min-height: 4em;
    }
  }

  > .input-input {
    opacity: 0;
    position: absolute !important;
  }

  > .input-error {
    width: 100%;
    margin-bottom: calc(0px - 0.85rem);
    /* // color: oklch(var(--color-bad-oklch)); */
    font-size: 0.9rem;
    font-weight: var(--main-text-weight);
    display: none;
  }

  &.type-date,
  &.type-month,
  &.type-datetime-local,
  &.type-time {
    > .input-label {
      top: 0;
      font-size: 0.75rem;
      font-weight: var(--main-text-weight);
      text-transform: uppercase;
    }
  }

  &.type-date {
    min-width: 115px;
  }
  &.type-time {
    min-width: 80px;
  }
  &.type-textarea {
    height: 100%;
    > .input-control {
      line-height: 1.5em;
      width: 100%;
      min-height: 1.5rem;
      max-height: 450px;
      align-self: stretch;
    }

    &.big {
      min-height: 75px;
    }
  }
}

/* -----------------------Range slider ------------------------------- */
.input.type-range {
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  width: 270px;
  position: relative;
  max-width: 100%;
  border-left: none !important;

  &[disabled] {
    background: transparent;
    opacity: 0.25;
  }
  &[orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 270px;
    width: 30px;
  }
}

.input.type-range::-webkit-slider-runnable-track {
  background: #606060;
  height: 0.65rem;
}

.input.type-range[orient="vertical"]::-webkit-slider-runnable-track {
  width: 0.65rem;
  height: auto;
}

.input.type-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #303030;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  border: none;
  top: -10px;
}

.input.type-range[orient="vertical"]::-webkit-slider-runnable-thumb {
  margin-top: 0;
}

.input.type-range::-moz-range-track {
  border: none;
  background: #606060;
  height: 0.65rem;
}

.input.type-range[orient="vertical"]::-moz-range-track {
  height: 100%;
  width: 0.65rem;
}

.input.type-range::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background: #303030;
  border-radius: 100%;
  border: none;
}

/* Range input with a number input after */
.input.type-range.with-number + input[type="number"] {
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  margin-left: 0.65rem;
}

/* ----------------------- Checkbox/Radio ------------------------------- */

.input.type-checkbox {
  text-align: initial !important;
  padding: 0;
  cursor: default;

  > .input-icon {
    box-sizing: content-box;
    left: 1rem;
    right: auto;
    background-color: oklch(var(--grideditor-border-color-oklch));
    border-radius: 3px;
    padding: 2px;
    width: 0.9em;
    height: 0.9em;
  }
  > .input-control {
    padding-left: 3rem;
    padding-right: 1rem;
    white-space: normal;
    line-height: 1.5rem;
  }
  &:not(.checked) > .input-icon {
    color: transparent;
  }
  &.checked > .input-icon {
    background-color: oklch(var(--color-good-oklch));
    color: inherit;
  }
}

.input.type-radio {
  color: var(--border-width) solid oklch(var(--border-color-oklch));
  background-color: oklch(var(--foreground-color2-oklch));
  border-radius: 1rem;
  cursor: default;

  &.checked {
    background-color: oklch(var(--color-theme-oklch));
  }
}
