input[type="checkbox"].input-nge-tool,
input[type="radio"].input-nge-tool {
  position: absolute;
  opacity: 0;
}

.nge-tool {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  outline: none;
  background-position: center;
  background-image: none;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  color: oklch(var(--nge-button-color-oklch));
  border: var(--border-width) solid
    oklch(var(--nge-button-background-color-oklch));
  background-color: oklch(var(--nge-button-background-color-oklch));
  border-radius: var(--nge-border-radius);
  font-weight: var(--nge-tool-font-weight);
  text-transform: var(--nge-tool-text-transform);
  font-size: var(--nge-tool-font-size);
  font-family: var(--nge-font-family);
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border 0.15s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  gap: 0.2rem;
  display: flex;

  &:not(.has-control) {
    padding: var(--nge-tool-spacing);
  }
  &.has-control > .input-control {
    padding: var(--nge-tool-spacing);
  }

  &:focus,
  &.focus {
    background-color: oklch(var(--nge-button-focus-background-color-oklch));
    border-color: oklch(var(--nge-button-focus-background-color-oklch));
    color: oklch(var(--nge-button-focus-color-oklch));
  }

  &[disabled],
  &[readonly],
  &.disabled,
  &.readonly {
    opacity: 0.25;
  }

  &:active,
  &.active,
  &.checked {
    background-color: oklch(var(--nge-button-focus-background-color-oklch));
    border-color: oklch(var(--nge-button-focus-background-color-oklch));
    color: oklch(var(--nge-button-focus-color-oklch));
  }

  &.dropdown {
    text-align: initial;
    overflow: visible;

    > span,
    > input {
      line-height: 1.2em;
    }
  }
}

@media (hover: hover) {
  .nge-tool:hover {
    background-color: oklch(var(--nge-button-focus-background-color-oklch));
    border-color: oklch(var(--nge-button-focus-background-color-oklch));
    color: oklch(var(--nge-button-focus-color-oklch));
  }
}
