:root {
  --nge-color-theme-oklch: 54.57% 0.08 194.03;
  --nge-color-theme2-oklch: 44.36% 0.063 194.09;

  --nge-font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --nge-font-base: 300 12px/1.5 var(--nge-font-family);
  --nge-font-weight-bold: 600;

  --nge-color-good-oklch: 61.18% 0.147 143.24;
  --nge-color-good-dark-oklch: 51.18% 0.147 143.24;
  --nge-color-good-bright-oklch: 71.18% 0.147 143.24;
  --nge-color-neutral-oklch: 79.78% 0.153 79.82;
  --nge-color-neutral-dark-oklch: 64.49% 0.122 79.92;
  --nge-color-neutral-bright-oklch: 84.49% 0.122 79.92;
  --nge-color-bad-oklch: 64.9% 0.256 10.76;
  --nge-color-bad-dark-oklch: 54.9% 0.256 10.76;
  --nge-color-bad-bright-oklch: 74.9% 0.256 10.76;

  --nge-tool-spacing: 0.7rem 1rem;
  --nge-tool-font-weight: var(--nge-font-weight-bold);
  --nge-tool-text-transform: uppercase;
  --nge-tool-font-size: 10px;

  --nge-color-dark-oklch: 21.43% 0.012 235.73;
  --nge-color-bright-oklch: 98.84% 0.001 286.37;

  --nge-transition-duration: 0.25s;
  --nge-transition-style: var(--transition-duration) ease-in-out;

  --nge-shadow-color-oklch: 15.39% 0.028 245.26;
  --nge-shadow: 0px 6px 1.5rem 4px oklch(var(--nge-shadow-color-oklch) / 10%);
  --nge-inline-shadow: 0px 6px 1.5rem 4px
    oklch(var(--nge-shadow-color-oklch) / 10%);

  --nge-border-radius: 1rem;

  --nge-color-oklch: var(--nge-color-dark-oklch);
  --nge-background-color-oklch: var(--nge-color-bright-oklch);

  --nge-modal-color-oklch: var(--nge-color-oklch);
  --nge-modal-background-color-oklch: var(--nge-background-color-oklch);

  --nge-button-color-oklch: var(--nge-color-bright-oklch);
  --nge-button-background-color-oklch: var(--nge-color-theme-oklch);
  --nge-button-focus-color-oklch: var(--nge-color-bright-oklch);
  --nge-button-focus-background-color-oklch: var(--nge-color-theme2-oklch);

  --nge-border-width: 0.5px;
  --nge-border-color-oklch: 71.45% 0.007 207.99;
}

html,
body {
  font: var(--nge-font-base);
}
