.dropdown {
  position: relative;
  cursor: pointer;

  &.up {
    > .dropdown-container {
      top: auto;
      bottom: 100%;
    }
  }

  > .dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 85vh;
    overflow: auto;
    overflow-x: hidden;
    z-index: 10;
    min-width: 100%;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    box-sizing: border-box;
    /* Reset stuff */
    line-height: 1.5rem; //Reset line-height to default
    white-space: normal;
    text-transform: none;
    letter-spacing: normal;
    font: var(--grideditor-font-base);

    border-radius: var(--grideditor-border-radius);

    color: oklch(var(--grideditor-color-oklch));
    background-color: oklch(var(--grideditor-modal-background-color-oklch));
    border: var(--grideditor-border-width) solid
      oklch(var(--grideditor-border-color-oklch));
    box-shadow: var(--grideditor-shadow);
    display: flex;
    flex-direction: column;

    > .header {
      display: flex;
      align-items: center;
      padding: 1rem 1rem 0rem;
    }

    > .content {
      display: flex;
      flex-direction: column;

      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  &.active.loading {
    > .dropdown-container {
      max-height: 3rem;
      min-height: 3rem;
      min-width: 8rem;

      &::before {
        transition: all var(--grideditor-transition-style);
        content: " ";
        vertical-align: middle;
        display: inline-block;
        height: 2em;
        width: 2em;
        translate: -50% -50%;
        border-radius: 100%;
        border: 2px solid oklch(var(--grideditor-color-oklch));
        border-bottom-color: transparent;
        -webkit-animation: grideditor-loader-spin 1s linear infinite;
        animation: grideditor-loader-spin 1s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
      }

      > * {
        opacity: 0;
      }
    }
  }

  > span:first-child:not(.tooltip):not(.badge),
  > a:first-child:not(.tooltip):not(.badge) {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  &.right > ul,
  &.right > div,
  &.right > form {
    left: auto;
    right: 0;
  }

  > .dropdown-container {
    transition: transform var(--grideditor-transition-style),
      opacity var(--grideditor-transition-style);
  }

  &:not(.active) {
    > .dropdown-container {
      height: 0;
      opacity: 0;
      visibility: hidden;
      cursor: default;
      transform: translateY(-1rem);
    }
  }
}
