.dropdown {
  position: relative;
  cursor: pointer;
  overflow: visible;

  &.up {
    > .dropdown-container {
      top: auto;
      bottom: 100%;
    }
  }

  > .dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 85vh;
    overflow: auto;
    overflow-x: hidden;
    z-index: 10;
    min-width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    box-sizing: border-box;
    transition: transform var(--nge-transition-style),
      opacity var(--nge-transition-style);
    border-radius: var(--nge-border-radius);
    color: oklch(var(--nge-color-oklch));
    background-color: oklch(var(--nge-modal-background-color-oklch));
    border: var(--nge-border-width) solid oklch(var(--nge-border-color-oklch));
    box-shadow: var(--nge-shadow);
    display: flex;
    flex-direction: column;
    /* Reset stuff */
    font: var(--nge-font-base);
    white-space: normal;
    text-transform: none;
    letter-spacing: normal;
  }

  > span,
  > a {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.right > .dropdown-container {
    left: auto;
    right: 0;
  }

  &:not(.active) {
    > .dropdown-container {
      height: 0;
      opacity: 0;
      visibility: hidden;
      cursor: default;
      transform: translateY(-1rem);
    }
  }
}
