@keyframes nge-loader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.nge {
  user-select: none;
  &.loading {
    min-height: 3rem;

    &::before {
      content: " ";
      vertical-align: middle;
      display: inline-block;
      height: 2em;
      width: 2em;
      translate: -50% -50%;
      border-radius: 100%;
      border: 2px solid oklch(var(--nge-color-oklch));
      border-bottom-color: transparent;
      animation: nge-loader-spin 1s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
    }

    > * {
      opacity: 0;
    }
  }

  &.invalid > .nge-content {
    > .nge-section > .nge-section-content > .nge-area > .nge-area-content,
    > .nge-section-createarea.nge-section-tool-create.nge-tool:first-child:last-child {
      outline: var(--nge-border-width) solid oklch(var(--nge-bad-color-oklch));
    }
  }

  > .nge-content {
    position: relative;

    &.dragging {
      > .nge-section > .nge-section-content > .nge-area * {
        pointer-events: none;
      }
    }
    &.resizing {
      * {
        pointer-events: none;
      }
    }

    > .nge-tool.nge-section-tool-create:first-child:last-child {
      aspect-ratio: 16/9;
      position: relative;
    }
  }
}
